* {
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:baseline;
   
}
.container{
    max-width: 1440px;
    padding: 0px 80px;
    margin: auto;
}
.section{
    margin-top: 112px;
    margin-bottom: 112px;
}

/* *************************************************** */
/* MENU SECTION */
/* *************************************************** */

a {
    text-decoration: none;
}
.menu-bar{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom:80px ;
}

.menu-items{
    display: flex;
    gap: 80px;
}
.menu-items a {
    display: inline-block;

    font-size: 16px;
    font-weight: 400;
    color: #252B37;
    cursor: pointer;
}
.menu-items a:hover{
    text-decoration: underline;
}
#clicked {
    font-weight: 700;
}
/* *************************************************** */
/* HERO SECTION */
/* *************************************************** */

.hero-section{
    width: 100%;
    display: flex;
    gap: 96px;
    justify-content: space-between;
    margin-bottom: 112px;
}
.hero-text-container{
    max-width: 543px;
}
.h1{
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 16px;

}
.hero-text{
    color: #464E5F;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
 
}
.h1 span{
    background: linear-gradient(#CC3044, #D77820);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-button{
    background: linear-gradient(90deg,#CC3044, #D77820);
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
}
.image-container img{
    max-width: 645px;
}

/* *************************************************** */
/* SOCIAL PROOF SECTION */
/* *************************************************** */

.social-proof{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.social-proof h3{
    font-size: 20px;
    font-weight: 600;
    color: #A4A4A4;
}

.social-proof-logos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: row;
    justify-content: space-around;
}

.social-proof-logo img{
    max-width: 140px;
}

/* *************************************************** */
/* SERVICES SECTION */
/* *************************************************** */
.services-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}

.services-header .h4{
    font-weight: 700;
    font-size: 14px;
    background: linear-gradient(#CC3044, #D77820);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.75px;
}
.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 96px;
}
.services-row{
    display: flex;
    justify-content: space-between;
}
.services-card{
    max-width: 302px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.services-card img{
    max-width: 60px;
}

.services-card a{
    color:#CE3741;
    font-weight: 300;
}

.process-section{
    background: linear-gradient(45deg, #B22335,#D46C0B);
    color: white;
    padding:112px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.process-heading h4{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.process-heading h2{
    font-size: 36px;
    margin-bottom: 24px;
}
.process-heading p{
    color: #EAEAEA;
    font-size: 16px;
    max-width: 646px;
    margin-bottom: 66px;
}
.process-row{
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    gap: 48px;

}
.process-card{
    
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 2px;
    padding: 24px;
}
.process-card img{
    align-self: flex-start;
    display: block;

}
.process-card span{
    font-size: 50px;
    font-weight: 700;
}
.process-card p{
    width: 190px;
    color: #FBD4D2;
    text-align: center;
    font-size: 16px;
}